<h1>建立訂單</h1>

<%= form_for @order do |f| %>
  <%= f.text_field :name, placeholder: 'NAME' %>
  <%= f.text_field :address, placeholder: 'ADDRESS' %>
  <%= f.select :payment_method, %w[Credit ATM] %>
  <%= f.submit %>
<% end %>

