<h2>訂單 NO.<%= @order.id %></h2>

<%#= link_to '結帳', checkout_order_path(@order) %>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">訂單明細</div>

  <!-- Table -->
  <table class="table">
   <thead>
    <tr>
      <th width="20%">產品</th><th width="10%">單位價</th> <th width="10%">數量</th><th width="10%">小計</th>
    </tr>
  </thead>
  <tbody>
    <% @order.line_items.each do |line_item| %>
      <tr>
        <td><%= link_to line_item.product.name, product_path(line_item.product) %></td>
        <td>$<%= line_item.subtotal %></td>
        <td><%= line_item.qty %></td>
        <td>$<%= line_item.amount %></td>
      </tr>
      <% if line_item.packet %>
      <tr>
        <td colspan="2"><%= link_to line_item.packet.title, product_packet_path(line_item.product, line_item.packet) %></td>
        <td colspan="2"></td>
      </tr>
      <% end %>
    <% end %>
    <tr>
      <td width="10%">訂購人:  <%= @order.name %></td><td width="10%">聯絡電話:  <%= @order.phone %></td> <td width="10%">付款方式:  <%= @order.payment_method %></td><td width="10%"></td>
    </tr>
    <tr>
      <td width="10%">地址:  <%= @order.address %></td><td width="10%">Email:  <%= @order.email %></td> <td width="10%"></td><td width="10%"></td>
    </tr>
    <tr>
      <td colspan="2"></td>
      <td><b>總計</b></td>
      <td>NT. $<%= @order.total %></td>
    </tr>
  </tbody>
  </table>
</div>

<h3>交易紀錄</h3>
<div class="order-history">
  <ul>
    <% @order.trades.each do |trade| %>
    <li><%= trade.paid? ? icon("bell") : icon("remove") %> <%= trade.trade_number %> <%= trade.paid? ? :已付款 : :未付款 %></li>
    <% end %>
  </ul>
</div>