<% if @packet.errors.any? %>
      <ul>
      <% @packet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>
  <%= f.label "名稱" %>
  <%= f.text_field :title, :size => "40" %>
  <%= f.label "價格" %>
  <%= f.text_field :price, :size => "10"  %>
<br>
  <h5>內容</h5>
  <%= f.text_area :content, :size => "60x10", :class => "vertical-base"%>
<br>
  <h5>配料</h5>
  <%= f.text_area :ingredient, :size => "60x10", :class => "vertical-base"%>
<br>
  <%= f.label "影片" %>
  <%= f.text_field :video, :size => "55" %>
<p>
<br>
<%= f.add_nested_fields_link :pictures, "新增圖片", :class => "btn btn-xs btn-success"  %>
<%= f.nested_fields_for :pictures do |ff| %>
    <%= f.label "圖片" %>   
    <%= ff.text_field :title %>
    <span><%= ff.remove_nested_fields_link "" , :class => "glyphicon glyphicon-remove" %></span>
    <%= ff.file_field :image %>    
<% end %>
</p>


<br>
<%= link_to "回料理包列表", product_packets_path(@product), :class => "btn btn-info" %>
<%= f.submit "送出", :class => "btn btn-primary" %>