<% if @product.errors.any? %>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

  <%= f.label "產品名" %>
  <%= f.text_field :name, :size => "30" %>
<br>
  <h5>介紹</h5>
  <%= f.text_area :description, :size => "50x10"%>
<br>  
  <%= f.label "價格" %>
  <%= f.text_field :price ,:size => "8"%>
  <%= f.label "庫存數" %>
  <%= f.text_field :in_stock_qty, :size => "4" %>
<br>
<div class="form-group">
  <%= f.label :status, "狀態" %>
  <%= f.select :status, product_status_options %>
</div>

<div class="form-group">
  <%= f.label :image, "產品圖片" %>
  <%= f.file_field :image %>
  
</div>


  <%= f.submit "送出", :class => "btn btn-primary" %>