<% if @product.errors.any? %>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

  <%= f.label "產品名" %>
  <%= f.text_field :name, :size => "30" %>
<br>
  <%= f.label "內容" %>
  <%= f.text_area :description, :size => "30x10", :class => "vertical-base"%>
<br>  
  <%= f.label "價格" %>
  <%= f.text_field :price %>
<br>
  <%= f.label "庫存數" %>
  <%= f.text_field :in_stock_qty, :size => "60" %>
<br>
<br>
<div class="form-group">
  <%= f.label :image_url, "產品圖片" %>
  <%= f.file_field :image_url %>
  <%= check_box_tag "event[_destroy_image_url]" %>移除照片
</div>
 <br>
  <%= f.text_field :in_stock_qty, :size => "60" %>

  <%= f.submit "送出", :class => "btn btn-primary" %>