
<ul>
<% current_cart.line_items.each do |item| %>
  <li><%= item.qty %> x <%= item.product.name %> $<%= item.amount %></li>
<% end %>
</ul>

<p>
  Total: <%= current_cart.total %>
  <%= link_to "Checkout!", new_order_path %>
</p>
<hr>

<%= form_tag bulk_update_products_path do %>
  <table class="table table-bordered">
  <% @products.each do |e| %>
    <tr>
      <td>
        <%= check_box_tag "ids[]", e.id, false %> 
        <%= e.name %>
      </td>
      <td>
        <%= image_tag(e.image_url, :width => 50) %>
      </td>
      <td>  
        $<%= e.price %>
      </td>
      <td>
      <%= link_to "顯示", product_path(e), :class => "btn btn-primary" %>
      <%= link_to "料理包", product_packets_path(e), :class => "btn btn-primary" %>
      <%= link_to "編輯", edit_product_path(e), :class => "btn btn-default" %>
      </td>
    </tr>
  <% end %>
  </table>
  <%= submit_tag "刪除", :name => "btn-delete" %>
  <%= submit_tag "上架", :name => "btn-publish" %>
<% end %>

<%= paginate @products %>