<h2>Your Cart</h2>
<ul>
<% current_cart.line_items.each do |item| %>
  <li><%= item.qty %> x <%= item.product.name %> $<%= item.amount %></li>
<% end %>
</ul>

<p>Total: <%= current_cart.total %>
<hr>

<% @products.each do |product| %>
<div class="product">
  <%= link_to product_path(product) do %>
    <%= image_tag(product.image_url, :width => 50) %><br />
  <% end %>

  <%= product.name %><br />
  $<%= product.price %>
  <%= button_to "Buy", cart_path(:product_id => product) %>
</div>
<% end %>

<div style="clear: both"></div>

<%= paginate @products %>