<h2>Your Cart</h2>
<ul>
<% current_cart.line_items.each do |item| %>
  <li><%= item.qty %> x <%= item.product.name %> $<%= item.amount %></li>
<% end %>
</ul>

<p>
  Total: <%= current_cart.total %>
  <%= link_to "Checkout!", new_order_path %>
</p>
<hr>


<table class="table table-bordered">
<% @products.each do |e| %>

  <tr>
    <td>
      <%= check_box_tag "ids[]", e.id, false %>
      <%= e.name %>
      <%= image_tag(e.image_url, :width => 50) %>
      $<%= e.price %>
    </td>
    <td>
    <%= link_to "顯示", product_path(e), :class => "btn btn-primary" %>

    </td>
  </tr>

<% end %>
</table>

  <%= submit_tag "刪除", :name => "btn-delete" %>

  <%= submit_tag "Publish", :name => "btn-publish" %>

<div style="clear: both"></div>

<%= paginate @products %>