
<h1><%= @product.name %></h1>

<%= image_tag(@product.image_url, :width => 50) %><br />

$<%= @product.price %>

<p>
<%= @product.description %>
</p>
<% if @product.image_url.exists? %>
5 
6   <%= image_tag( @product.image_url(:thumb) ) %>